# Server configuration
PORT=3000
NODE_ENV=development

# Authentication
JWT_SECRET=your_secret_key_here

# Azure App Service configuration parameters to be set in the Azure portal:
# FUNCTION_APP_BASE_URL=https://your-function-app.azurewebsites.net/api
# FUNCTION_APP_KEY=<functions default host key>
# POSTGRES_URL=postgres://username:password@your-postgres-server.postgres.database.azure.com:5432/your-database
# APPLICATIONINSIGHTS_CONNECTION_STRING=<app insights connection string>
# WEBSITE_NODE_DEFAULT_VERSION=18 (or 20)
# CORS_ORIGIN=https://your-app-url.azurewebsites.net
